# Java
*.class

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

# Logs / temp
*.log
tmp/
out/
build/
# Ignore interview scripts and explanations
**/InterviewScript.md
**/InterviewDetailedExplanation.md
**/InterviewQuestions.md
